extends layout

block content
  h2.text-center.mb-4 Reports
  table.table.table-striped.table-bordered
    thead.table-dark
      tr
        th Category
        th Cases
        th SLA %
    tbody
      tr
        td Hardware
        td 30
        td 92%
      tr
        td Software
        td 20
        td 85%
      tr
        td Warranty
        td 15
        td 90%
